@import "colors";

body {
	font-size: 14px;
	font-family: "Inter", sans-serif;
	background-color: $very-dark-blue-bg;
	color: $white;
}

body.light {
	background-color: $white;
}

.container {
	max-width: 1310px;
	width: 86%;
	margin-left: auto;
	margin-right: auto;
}

// Header
header {
	padding-top: 24px;
	padding-bottom: 92px;
	background-color: $very-dark-blue-top-bg;

	.titles-wrapper {
		display: flex;
		flex-direction: column;
		gap: 4px;
		padding-bottom: 20px;
		border-bottom: 1px solid $desaturated-blue;

		.header-title {
			font-size: 24px;
		}

		.header-sub-title {
			color: $desaturated-blue;
		}
	}

	.theme-state {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 16px;

		.theme {
			color: $desaturated-blue;
			font-size: 16px;
			font-weight: 700;
		}

		.toggle-btn {
			background: linear-gradient(to right, $toggle-dark);
			padding: 14px 28px;
			border-radius: 9999px;
			position: relative;
			cursor: pointer;

			.toggle-circle {
				position: absolute;
				top: 4px;
				left: 4px;
				background-color: $very-dark-blue;
				padding: 10px;
				border-radius: 50%;
				z-index: 9;
				transition: all 300ms ease;
			}
		}
	}

	&.light {
		background-color: $very-pale-blue;
		border-bottom: 1px solid $light-grayish-blue;
		color: $very-dark-blue;

		.header-sub-title {
			color: $dark-grayish-blue;
		}

		.theme {
			color: $dark-grayish-blue;
		}

		.toggle-btn {
			background: $toggle-light;

			&:hover {
				background: linear-gradient(to right, $toggle-dark);
			}

			.toggle-circle {
				background-color: $white;
				left: 32px;
			}
		}
	}
}

#followers {
	display: flex;
	flex-direction: column;
	margin-top: -48px;
	gap: 24px;

	.follower-item {
		background-color: $dark-desaturated-blue;
		padding: 24px 0;
		border-radius: 4px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;
		position: relative;
		cursor: pointer;

		&:hover {
			background-color: $dark-grayish-blue;
		}

		@mixin beforeElement {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 4px;
			border-radius: 4px 4px 0 0;
		}

		&:nth-child(1) {
			&::before {
				@include beforeElement;
				background: $facebook;
			}
		}

		&:nth-child(2) {
			&::before {
				@include beforeElement;
				background: $twitter;
			}
		}

		&:nth-child(3) {
			&::before {
				@include beforeElement;
				background: linear-gradient(to right, $instagram);
			}
		}

		&:nth-child(4) {
			&::before {
				@include beforeElement;
				background: $youTube;
			}
		}

		.media-wrapper {
			display: flex;
			align-items: center;
			gap: 8px;

			.media-address {
				font-size: 12px;
				color: $desaturated-blue;
				font-weight: 700;
			}
		}

		.media-number {
			display: flex;
			flex-direction: column;
			align-items: center;

			.number {
				font-size: 48px;
				font-weight: 700;
			}

			.number-type {
				color: $desaturated-blue;
				text-transform: uppercase;
				letter-spacing: 4px;
				font-size: 12px;
			}
		}

		.state-of-affairs {
			display: flex;
			align-items: center;
			gap: 4px;
			font-weight: 700;
			font-size: 12px;

			.affair-number {
				color: $lime-green;
			}
		}

		&:last-child {
			.affair-number {
				color: $bright-red;
			}
		}
	}

	&.light {
		.follower-item {
			background-color: $light-grayish-blue;

			.media-address {
				color: $very-dark-blue;
			}

			.number {
				color: $very-dark-blue;
			}

			.number-type {
				color: $dark-grayish-blue;
			}
		}
	}
}

#overview {
	margin-top: 32px;
	margin-bottom: 48px;
	display: flex;
	flex-direction: column;
	gap: 16px;

	.overview-title {
		font-size: 24px;
		margin-bottom: 20px;
	}

	.overview-items {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.overview-item {
		padding: 24px;
		background-color: $dark-desaturated-blue;
		border-radius: 4px;
		display: flex;
		flex-direction: column;
		gap: 32px;
		cursor: pointer;

		&:hover {
			background-color: $dark-grayish-blue;
		}

		&-head {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.title {
				font-size: 16px;
				color: $desaturated-blue;
			}
		}

		&-numbers {
			display: flex;
			align-content: center;
			justify-content: space-between;
			font-weight: 700;

			.number {
				font-size: 32px;
			}

			.percentage {
				display: flex;
				align-items: center;
				gap: 4px;
			}

			&.incline {
				.percentage {
					color: $lime-green;
				}
			}

			&.decline {
				.percentage {
					color: $bright-red;
				}
			}
		}
	}

	&.light {
		.overview-title {
			color: $dark-grayish-blue;
		}

		.overview-item {
			background-color: $light-grayish-blue;

			.title {
				color: $dark-grayish-blue;
			}

			.number {
				color: $very-dark-blue;
			}
		}
	}
}

// Responsive
@media only screen and (min-width: 1440px) {
	header {
		margin-bottom: 28px;
		padding-bottom: 124px;

		.container {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}

		.titles-wrapper {
			border: unset;
			padding-bottom: unset;

			.header-title {
				font-size: 32px;
			}

			.header-sub-title {
				font-size: 20px;
			}
		}

		.theme-state {
			gap: 24px;

			.theme {
				font-size: 20px;
			}

			.toggle-btn {
				padding: 18px 36px;

				.toggle-circle {
					padding: 12px;
					top: 6px;
				}
			}
		}

		&.light {
			.toggle-btn {
				.toggle-circle {
					left: 42px;
				}
			}
		}
	}

	#followers {
		flex-direction: row;
		margin-top: -72px;

		.follower-item {
			flex: 1;
			padding: 36px 0;
			gap: 16px;
		}
	}

	#overview {
		.overview-items {
			flex-direction: row;
			flex-wrap: wrap;

			.overview-item {
				width: 290px;
			}
		}
	}
}
