@import "colors";

body {
	font-size: 14px;
	font-family: "Inter", sans-serif;
	background-color: $very-dark-blue-bg;
	color: $white;
}

.container {
	max-width: 1024px;
	width: 86%;
	margin-left: auto;
	margin-right: auto;
}

// Header
header {
	display: flex;
	flex-direction: column;
	padding-top: 24px;
	padding-bottom: 92px;
	background-color: $very-dark-blue-top-bg;

	.titles-wrapper {
		display: flex;
		flex-direction: column;
		gap: 4px;
		padding-bottom: 20px;
		border-bottom: 1px solid $desaturated-blue;

		.header-title {
			font-size: 24px;
		}

		.header-sub-title {
			color: $toggle-light;
		}
	}

	.theme-state {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 16px;

		.theme {
			color: $toggle-light;
			font-size: 16px;
			font-weight: 700;
		}

		.toggle-btn {
			background: linear-gradient(to right, $toggle-dark);
			padding: 14px 28px;
			border-radius: 9999px;
			position: relative;

			.toggle-circle {
				position: absolute;
				top: 4px;
				left: 4px;
				background-color: $very-dark-blue;
				padding: 10px;
				border-radius: 50%;
				z-index: 9;
			}
		}
	}
}

.followers {
	display: flex;
	flex-direction: column;
	margin-top: -48px;
	gap: 24px;

	.follower-item {
		background-color: $dark-desaturated-blue;
		padding: 16px;
		border-radius: 4px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;
		position: relative;

		&:nth-child(1) {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 4px;
				border-radius: 4px 4px 0 0;
				background: $facebook;
			}
		}

		&:nth-child(2) {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 4px;
				border-radius: 4px 4px 0 0;
				background: $twitter;
			}
		}

		&:nth-child(3) {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 4px;
				border-radius: 4px 4px 0 0;
				background: linear-gradient(to right, $instagram);
			}
		}

		&:nth-child(4) {
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 4px;
				border-radius: 4px 4px 0 0;
				background: $youTube;
			}
		}

		.media-wrapper {
			display: flex;
			align-items: center;
			gap: 8px;

			.media-address {
				font-size: 12px;
				color: $desaturated-blue;
			}
		}

		.media-number {
			display: flex;
			flex-direction: column;
			align-items: center;

			.number {
				font-size: 48px;
				font-weight: 700;
			}

			.number-type {
				color: $desaturated-blue;
				text-transform: uppercase;
				letter-spacing: 4px;
				font-size: 12px;
			}
		}

		.state-of-affairs {
			display: flex;
			align-items: center;
			gap: 4px;
			font-weight: 700;
			font-size: 12px;

			.affair-number {
				color: $lime-green;
			}
		}

		&:first-child {
			.affair-number {
				color: unset;
			}
		}

		&:last-child {
			.affair-number {
				color: $bright-red;
			}
		}
	}
}
